html {
    color: var(--main-fg);
    background-color: var(--main-bg);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

input,
button {
    outline: none;
}

button {
    cursor: pointer;
}

p {
    font-size: 18px;
    color: var(--result-fg);
}

a,
.text-result-wrapper a:hover {
    text-decoration: none;
}

.text-result-wrapper a:visited h2,
.special-result-container a,
.sub-search-button-wrapper a,
.sub-search-button-wrapper a:visited{
    color: #bd93f9;
}

.sub-search-button-wrapper .active {
    border-bottom: 2px #bd93f9 solid;
    padding-bottom: 6px;
}

a:hover,
.text-result-wrapper h2:hover {
    text-decoration: underline;
}

.search-container {
    text-align: center;
    margin-top: 10%;
}

.search-container h1 {
    font-size: 70px;
}

.search-container input,
.sub-search-container input {
    width: 500px;
    color: var(--search-container-text-color);
    background-color: var(--search-container-background-color);
    padding: 10px;
    font-size: inherit;
    font-family: sans-serif;
    border: 1px solid var(--search-container-background-border);
    border-radius: 25px;
}

.search-button-wrapper button,
.misc-container button,
.misc-container select {
    color: inherit;
    background-color: var(--button-bg);
    font-size: 14px;
    border: 1px solid var(--main-bg);
    border-radius: 4px;
    padding: 13px 10px 13px 10px;
}

.search-button-wrapper button {

    margin: 30px 60px 0px 60px;
}

.sub-search-container {
    background-color: var(--search-form-background-color);
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.sub-search-container hr {
    opacity: 0;
}

.sub-search-container input {
    margin-bottom: 20px;
    width: 580px;
    position: relative;
    left: 155px;
    margin: 18px;
}

.logomobile {
    position: absolute;
    margin-top: 0px;
    top: 25px;
    left: 20px;
}

.no-decoration {
    text-decoration: none;
    color: var(--main-fg);
}

.no-decoration:hover {
    text-decoration: none;
}

.sub-search-button-wrapper {
    margin-left: 165px;
}

.search-button-wrapper button:hover,
.misc-container button:hover {
    border: 1px solid #5f6368;
    cursor: pointer;
}

.sub-search-button-wrapper i {
    vertical-align: middle;
    margin-right: 5px;
}

.sub-search-button-wrapper a {
    border: none;
    background-color: inherit;
    font-size: 15px;
    margin-right: 14px;
	cursor: pointer;
	text-decoration: none;
}

.sub-search-button-wrapper img {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
}

.misc-container {
    text-align: center;
    word-wrap: break-word;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.misc-container div {
    margin-bottom: 30px;
}

.misc-container button {
    margin-right: 10px;
    margin-left: 10px;
}

.misc-container a {
    color: inherit;
    text-decoration: underline;
}

.settings-textbox-container div {
    text-align: left;
    margin-bottom: 25px;
}

.settings-textbox-container input {
    color: inherit;
    background-color: inherit;
    padding: 5px;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #5f6368;
    border-radius: 5px;
    float: right;
}

.text-result-container,
#time,
.next-page-button-wrapper {
    margin-left: 170px;
}

.text-result-container {
    margin-bottom: 100px;
}

.special-result-container {
    padding: 10px;
    border: 1px solid var(--special-result-border);
    width: 500px;
    border-radius: 8px;
    background: var(--special-text-background);
    color: var(--special-text-color);
    margin-left: 840px;
    margin-top: 0px;
    position: absolute;
}

.text-result-wrapper {
    max-width: 550px;
    word-wrap: break-word;
    margin-bottom: 35px;
}

.text-result-wrapper a {
    font-size: 14px;
    color: var(--result-fg);
}

.video-img {
    height: 115px;
    border-radius: 12px;
}

.text-result-wrapper h2 {
    font-size: 20px;
    color: var(--result-link-fg);
    padding-top: 5px;
    margin-top: 1px;
}

.special-result-container a {
    display: flex;
    margin-top: 10px;
    font-size: 14px;
}

.special-result-container img {
    display: flex;
    max-width: 60%;
    max-height: 200px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.next-page-button-wrapper {
    margin-top: -40px;
    margin-bottom: 100px;
}

.next-page-button-wrapper button {
    border: none;
    background-color: inherit;
    color: var(--result-link-fg);
    font-size: 18px;
    margin-right: 8px;
}

.next-page-button-wrapper .page {
    display: inline;
}

.image-result-container {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    justify-items: center;
    margin-left: 9%;
    margin-right: 9%;
    padding: 0;
    margin-bottom: 50px;
}

a[title] {
    flex-grow: 1;
    height: 12rem;
}

.image-result-container img {
    margin: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}


.git-container {
    right: 0;
}

.git-container,
.footer-container {
    position: fixed;
    bottom: 0;
}

.footer-container {
    width: 100vw;
    left: 0;
    background-color: var(--footer-bg);
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid var(--border);
    text-align: center;
}

.git-container a {
    font-size: 10px;
}

.git-container a,
.footer-container a {
    color: var(--footer-fg);
}

.footer-container a {
    margin-left: 15px;
    margin-right: 15px;
}

.hide {
    display: none;
}

.X {
    color: #ff595e;
}

.seeders {
    color: #50fa7b;
}

.leechers {
    color: #ff79c6;
}

@media only screen and (max-width: 1320px) {
    .special-result-container {
        position: relative;
        float: none;
        margin-left: 165px;
    }
}

/* mobile view */
@media only screen and (max-width: 750px) {
    p {
        font-size: 16px;
    }

    html {
        font-size: 14px;
    }

    .search-container input {
        width: 80%;
    }

    .search-button-wrapper button {
        display: table-row;
        margin: 30px 0px 0px 0px;
        width: 80%;
    }

    .image-result-container {
        display: unset;
        margin: 0;
        padding: 0;
    }

    .image-result-container img {
        margin: 0 5% 5% 5%;
        padding: 0;
        width: 90%;
        border: none;
    }

    .git-container {
        display: none;
    }

    .footer-container a {
        margin: 10px;
    }

    .sub-search-container {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .sub-search-container .logo {
        display: none;

    }

    .logomobile {
        position: relative;
        float: none;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        font-size: 28px;
        display: block;
        margin-top: 0px;
        top: 0px;
        left: 0px;
    }

    .sub-search-container input {
        width: 80%;
        position: relative;
        left: 0px;
        margin-top: 0px;
    }

    .sub-search-button-wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: baseline;
    }

    .sub-search-button-wrapper img {
        margin: 0;
        padding: 0;
    }

    .sub-search-button-wrapper a {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .special-result-container {
        position: relative;
        float: none;
        max-width: 90%;
        margin-left: 10px;
        width: auto;
    }

    .special-result-container img {
        max-width: 80%;
    }

    .misc-container {
        margin-bottom: 200px;
        width: 95%;
    }

    .search-container h1 {
        font-size: 55px;
    }

    .search-container {
        margin-top: 10%;
    }

    .text-result-container,
    #time,
    .next-page-button-wrapper {
        margin-left: 20px;
        max-width: 90%;
    }

    .next-page-button-wrapper {
        margin-top: 30px;
    }
}
